﻿@using Bookstore.Models;
@{
    List<BookViewModel> Books = Model;
}

@if (Books.Any())
{
    foreach (var book in Books)
    {
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div style="min-height:490px;" class="thumbnail" >
                <img style="height:300px;" src="@book.ThumbnailUrl" alt="">
                <div class="caption">
                    <h5>@book.Title</h5>
                    <h5>@book.Author</h5>
                    <h5>@book.Label</h5>
                    <h5>@book.NormalPrice</h5>
                    <h5>@book.Price</h5>
                    <a href="@book.Url" title="@book.Title">"@book.Title</a>
                    @if (book.Checked == 1)
                    {
                        <input type="checkbox" class="checkbox-book" data-id="@book.Isbn13" checked />
                    }
                    else
                    {
                        <input type="checkbox" class="checkbox-book" data-id="@book.Isbn13" />
                    }
                </div>
            </div>
        </div>
    }
}

<script>
    $('input[type=checkbox]').on('change', function () {

        var id = $(this).data('id');
        var checked = 0;

        if ($(this).is(':checked'))
        {
            checked = 1;
        }
        else
        {
            checked = 0;
        }

        $.ajax({
            url: "/Home/UpdateBook",
            type: "POST",
            dataType: "html",
            data: { Isbn13: id, isChecked: checked },
            success: function (result) {
            },
            error: function () {

            }
        });
    });
</script>