﻿@Model 
@{
    ViewBag.Title = "Search Page";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


<div class="row">
    <div class="col-lg-12" id="book-container"></div>
</div>

@using (Ajax.BeginForm("SuggestBooks", "Home", new AjaxOptions { UpdateTargetId = "book-container", HttpMethod = "POST", }, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.Label("Isbn", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextArea("IsbnTextArea", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Søg" class="btn btn-default" />
        </div>
    </div>
}
